.footer__div{
	background-color: #BC933A;
	color: #FFF;
}

.footer_img{
	margin: 0px;
	max-width: 100%;

	&:hover {
		opacity: 0.5;
	}
}

.footer__div-left {
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	height: 105px;
	margin-top: 25px;
	margin-right: 10px;
	padding-top: 10px;
  display: inline-block;
}

.footer__div-right {
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	height: 105px;
	margin-top: 25px;
	padding-top: 10px;
  display: inline-block;
}

.floating_margin_left{
	margin-left: 20px;
}

.footer_regular{
	font-size: 19px;
	line-height: 42px;
}

.footer_light{
	font-size: 19px;
	line-height: 42px;
	font-weight: $lighter;
}

.footer_copyright{
	font-weight: $light;
	font-size: 12px;
}

.footer_margin{
	margin-bottom: 25px;
}

.footer-display {
  display: flex;
  height: 175px;
}
