.history-img-div {
  display: inline-block;
  margin: 15px 0px;
  padding: 10px 0px;
  border-top: 1px solid $gold;
  border-bottom: 2px solid $gold;
  width: 100%;
}

.history-img {
  width: 100%;
  padding: 3px;
}
