.vertical-timeline::before {
  background: $gold !important;
}

.vertical-timeline-element-icon {
  box-shadow: none !important;
  padding: 20px 13px;
}

.vertical-timeline-element-title {
  color: $darker-grey;
}

.vertical-timeline-element-content {
  background: transparent !important;
  box-shadow: none !important;
}
