body {
  font-family: $font-primary;
  background: $white;
  color: $dark-grey;
  display: flex;
}

#root{
  width: 100%;
}

a {
  color: $gold;
}

.no-padding {
  padding: 0px;
}

.flex {
  display: flex;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.mt20 {
  margin-top: 20px;
}

.center-container {
	margin-top: 0px;
  margin-bottom: 100px;
}
