body {
  font-family: $font-primary;
  background: $lighter-grey;
  color: $dark-grey;
  display: flex;
}

#root{
  width: 100%;
}

a {
  color: $gold;
}

.no-padding {
  padding: 0px;
}

.flex {
  display: flex;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.center {
  text-align: center;
}

.mt20 {
  margin-top: 20px;
}

.center-container {
	margin-top: 0px;
  margin-bottom: 100px;
}

.inline-block {
  display: inline-block;
}

.bold {
  font-weight: 600;
}

.light {
  font-weight: 300;
}
