body {
  font-family: $font-secondary;
  background: $white;
  color: $dark-grey;
  display: flex;
  overflow-x: hidden;
}

#root{
  width: 100%;
}

a {
  color: $gold;
}

.no-padding {
  padding: 0px;
}

.flex {
  display: flex;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.right {
  text-align: right;
}
.center {
  text-align: center;
}

.mt20 {
  margin-top: 20px;
}

.pr15 {
  padding-right: 15px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.center-container {
	margin-top: 14px;
  margin-bottom: 100px;
}

.inline-block {
  display: inline-block;
}
